GiveItBack/GiveItBack/Service References/GiveItBackService/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://giveitback.somee.com/GiveItBackService/MainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://giveitback.somee.com/GiveItBackService/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://giveitback.somee.com/GiveItBackService/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GiveItBackService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMainService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_InsertMember_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMember" />
  </wsdl:message>
  <wsdl:message name="IMainService_InsertMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_InsertFundRaising_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFundRaising" />
  </wsdl:message>
  <wsdl:message name="IMainService_InsertFundRaising_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFundRaisingResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_InsertContribution_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertContribution" />
  </wsdl:message>
  <wsdl:message name="IMainService_InsertContribution_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertContributionResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembers" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/DoWork" message="tns:IMainService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/DoWorkResponse" message="tns:IMainService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/InsertMember" message="tns:IMainService_InsertMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/InsertMemberResponse" message="tns:IMainService_InsertMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFundRaising">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/InsertFundRaising" message="tns:IMainService_InsertFundRaising_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/InsertFundRaisingResponse" message="tns:IMainService_InsertFundRaising_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertContribution">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/InsertContribution" message="tns:IMainService_InsertContribution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/InsertContributionResponse" message="tns:IMainService_InsertContribution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetMembers" message="tns:IMainService_GetMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetMembersResponse" message="tns:IMainService_GetMembers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMainService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMember">
      <soap:operation soapAction="http://tempuri.org/IMainService/InsertMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFundRaising">
      <soap:operation soapAction="http://tempuri.org/IMainService/InsertFundRaising" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertContribution">
      <soap:operation soapAction="http://tempuri.org/IMainService/InsertContribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://giveitback.somee.com/GiveItBackService/MainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>