GiveItBack/GiveItBack/Service References/GiveItBackService/MainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://giveitback.somee.com/GiveItBackService/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GiveItBackService" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GiveItBackService" minOccurs="0" name="member" nillable="true" type="q1:MembersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GiveItBackService" minOccurs="0" name="InsertMemberResult" nillable="true" type="q2:MembersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFundRaising">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GiveItBackService" minOccurs="0" name="fundRaising" nillable="true" type="q3:FundRaisingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFundRaisingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GiveItBackService" minOccurs="0" name="InsertFundRaisingResult" nillable="true" type="q4:FundRaisingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertContribution">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GiveItBackService" minOccurs="0" name="contribution" nillable="true" type="q5:ContributionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertContributionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GiveItBackService" minOccurs="0" name="InsertContributionResult" nillable="true" type="q6:ContributionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GiveItBackService" minOccurs="0" name="GetMembersResult" nillable="true" type="q7:ArrayOfMembersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>