GiveItBack/GiveItBack/Service References/GiveItBackService/MainService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GiveItBackService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GiveItBackService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MembersModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:long" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MembersModel" nillable="true" type="tns:MembersModel" />
  <xs:complexType name="FundRaisingModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatorID" type="xs:int" />
      <xs:element minOccurs="0" name="GPSCoord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FundRaisingModel" nillable="true" type="tns:FundRaisingModel" />
  <xs:complexType name="ContributionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContributionValue" type="xs:double" />
      <xs:element minOccurs="0" name="FundRasingID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MemberID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContributionModel" nillable="true" type="tns:ContributionModel" />
  <xs:complexType name="ArrayOfMembersModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MembersModel" nillable="true" type="tns:MembersModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMembersModel" nillable="true" type="tns:ArrayOfMembersModel" />
</xs:schema>